@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.s-inform {
  position: relative;
  min-height: 839px;
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
    @media only screen and (max-width: config.$bp-tablet) {
      flex-direction: column;
    }
  }
  &__text-wrapper {
    width: 544px;
    height: 275px;
    position: relative;
    margin-left: 43px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url('/assets/media/circle-2.png');
      background-repeat: no-repeat;
      width: 201px;
      height: 200px;
      top: 0;
      left: 0;
      z-index: -1;
      @media only screen and (max-width: config.$bp-md) {
        top: -40px;
        left: -20px;
      }
      @media only screen and (max-width: config.$bp-tablet) {
        display: none;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50px;
      right: 10px;
      width: 440px;
      height: 204px;
      border-radius: 30px;
      background: rgb(255, 247, 190);
      z-index: 1;
      @media only screen and (max-width: config.$bp-md) {
        top: 0;
        right: 80px;
        width: 300px;
        height: 304px;
      }
      @media only screen and (max-width: config.$bp-tablet) {
        width: 440px;
        height: 204px;
      }
      @media only screen and (max-width: config.$bp-xsm) {
        width: 300px;
        height: 304px;
        left: 150px;
      }

    }
    &_order {
      order: 2;
      position: relative;
      @media only screen and (max-width: config.$bp-tablet) {
        margin-top: 65px;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url('/assets/media/circle-1.png');
        background-repeat: no-repeat;
        width: 201px;
        height: 200px;
        top: 70px;
        left: 350px;
        z-index: -1;
        @media only screen and (max-width: config.$bp-md) {
          top: 150px;
          left: 240px;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 40px;
        width: 440px;
        height: 204px;
        border-radius: 30px;
        background: rgb(255, 247, 190);
        z-index: 1;

        @media only screen and (max-width: config.$bp-md) {
          left: 80px;
        }
      }
    }
  }
  &__descr {
    position: absolute;
    top: 80px;
    right: 33px;
    width: 459px;
    height: 203px;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;

    @media only screen and (max-width: config.$bp-md) {
      top: 30px;
      right: 100px;
      width: 300px;
      height: 304px;
      font-size: 18px;
    }

    @media only screen and (max-width: config.$bp-tablet) {
      width: 459px;
      height: 203px;
      font-size: 24px;
    }
    @media only screen and (max-width: config.$bp-xsm) {
      width: 300px;
      height: 304px;
      right: 130px;
    }

    &_left {
      top: 56px;
      left: 0;
      
      @media only screen and (max-width: config.$bp-md) {
        left: 57px;
      }
      @media only screen and (max-width: config.$bp-xsm) {
        left: 130px;
      }
    }
  }
  &__pic-wrapper {
    position: relative;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 488px;
      height: 343px;
      box-sizing: border-box;
      border: 4px dashed rgb(1, 143, 163);
      border-radius: 30px;
      top: 38px;
      right: 75px;
      z-index: -1;
      @media only screen and (max-width: config.$bp-md) {
        top: 19px;
        left: 20px;
      }
      @media only screen and (max-width: config.$bp-xsm) {
        display: none;
      }
    }
    &_order {
      position: relative;
      order: 1;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 488px;
        height: 343px;
        box-sizing: border-box;
        border: 4px dashed rgb(1, 143, 163);
        border-radius: 30px;
        top: 38px;
        left: -75px;
        z-index: -1;
        @media only screen and (max-width: config.$bp-xsm) {
          display: none;
        }
      }
    }
    &__img {
      @media only screen and (max-width: config.$bp-xsm) {
        width: 300px;
        margin-top: 130px;
      }
    }
    &__left {
      @media only screen and (max-width: config.$bp-xsm) {
        margin-top: 0;
      }
    }
}