.s-inform 
    .container 
        .s-inform__block
            .s-inform__text-wrapper
                .s-inform__underlay
                .s-inform__descr В нашем центре работают профессиональные педагоги, любящие детей и преданные своему делу. Мы помогаем детям совершенствовать свои интеллекуальные способности, чтобы они могли познавать мир и делать его более красивым и добрым.
            .s-inform__pic-wrapper
                img.s-inform__img(src="/assets/media/inform-pic-1.jpg", alt="teacher")

        .s-inform__block
            .s-inform__text-wrapper.s-inform__text-wrapper_order
                .s-inform__underlay.s-inform__underlay_left
                .s-inform__descr.s-inform__descr_left Наши ученики показывают результат уже с первого месяца работы, мы поддерживаем в нашем центре теплую и дружескую атмосферу Побывав у нас детям обязательно захочется вернуться сюда снова Развивайтесь вместе с нами.
            .s-inform__pic-wrapper.s-inform__pic-wrapper_order
                img.s-inform__img.s-inform__left(src="/assets/media/inform-pic-2.jpg", alt="kids")