mixin button(params)
    -
        const classes = params.mix ? `button ${params.mix}` : 'button';

    button(class= classes, type=params.type || 'button' )&attributes(attributes)
        span.button__text!= params.text


