@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.container {
  max-width: 1200px;
  // padding: 0 min(260px, 13.54vw);
  margin: 0 auto;

  @media only screen and (max-width: config.$bp-xl) {
    padding: 0 80px;
  }

  @media only screen and (max-width: config.$bp-md) {
    padding: 0 40px;
  }

  @media only screen and (max-width: config.$bp-sm) {
    padding: 0 20px;
  }
}
