.s-subjects
    .container
        .s-subjects__wrapper
            .s-subjects__block-center.exclude
                img.s-subjects__main-img(src="/assets/media/teather.jpg", alt="teather")
                .s-subjects__descr Мы развиваем детей с 5 до 16 лет по следующим направлениям
            .s-subjects__item-wrapper
                img.s-subjects__img(src="/assets/media/arithmetic.png", alt="arithmetic")
                .s-subjects__text Ментальная арифметика
            .s-subjects__item-wrapper
                img.s-subjects__img(src="/assets/media/calligraphy.png", alt="calligraphy")
                .s-subjects__text Каллиграфия
            .s-subjects__item-wrapper
                img.s-subjects__img(src="/assets/media/speed-reading.png", alt="speed-reading")
                .s-subjects__text Скорочтение
            .s-subjects__item-wrapper
                img.s-subjects__img(src="/assets/media/english.png", alt="english")
                .s-subjects__text Английский язык
            .s-subjects__item-wrapper
                img.s-subjects__img(src="/assets/media/preparation.png", alt="preparation")
                .s-subjects__text Подготовка к школе
            .s-subjects__item-wrapper
                img.s-subjects__img(src="/assets/media/memory.png", alt="memory")
                .s-subjects__text Супер память
            .s-subjects__item-wrapper 
                img.s-subjects__img(src="/assets/media/after-school.png", alt="after-school")
                .s-subjects__text Группа продленного дня
