.contacts
    .container 
        .contacts__wrapper 
            h3.contacts__title Наши контакты
            h4.contacts__text Запишитесь на бесплатный пробный урок по номеру:
            .contacts__descr 8 (771) 145-98-26
            h4.contacts__text Адрес:
            .contacts__descr г. Нур-Султан, ул. К. Аманжолова, 28, офис 14
            h4.contacts__text График работы:
            .contacts__descr Пн-Пт - 9:00-19:00; <br> Сб - 9:00-17:00; <br> Вс - выходной
            h4.contacts__text E-mail:
            .contacts__descr @kemenger.mektebi
        img.contacts__img(src="/assets/media/child-contacts.png", alt="child-contacts")
        .contacts__map