section.section.s-contacts
    .container 
        .s-contacts__wrapper 
            h3.s-contacts__title Наши контакты
            h4.s-contacts__text Запишитесь на бесплатный пробный урок по номеру:
            .s-contacts__descr 8 (771) 145-98-26
            h4.s-contacts__text Адрес:
            .s-contacts__descr г. Нур-Султан, ул. К. Аманжолова, 28, офис 14
            h4.s-contacts__text График работы:
            .s-contacts__descr Пн-Пт - 9:00-19:00; <br> Сб - 9:00-17:00; <br> Вс - выходной
            h4.s-contacts__text E-mail:
            .s-contacts__descr @kemenger.mektebi
        img.s-contacts__img(src="/assets/media/child-contacts.png", alt="child-contacts")
        .s-contacts__map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A37a2f30b0787e3c18d169223e6968a8e8347d15a2e4153808bdc354b2da28a60&amp;source=constructor" width="756" height="502" frameborder="0"></iframe>