@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

.s-contacts {
    min-height: 1358px;
    padding: 12px 0 87px 0;
    position: relative;
    &__wrapper {
        width: 590px;
        height: 540px;
        margin-top: 130px;
        border-radius: 30px;
        background: rgb(1, 143, 163);
        padding: 12px 42px 38px 42px;
        @media only screen and (max-width: config.$bp-md) {
            margin: 57px auto 0 auto;
        }
        @media only screen and (max-width: config.$bp-xsm) {
            width: 350px;
            height: 570px;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            background-image: url(/assets/media/circle-6.png);
            background-repeat: no-repeat;
            width: 201px;
            height: 200px;
            top: 95px;
            left: 194px;
            z-index: -1;
            @media only screen and (max-width: config.$bp-md) {
                top: 35px;
                left: 250px;
            }
            @media only screen and (max-width: config.$bp-xsm) {
                top: 35px;
                left: 210px;
            }
        }
    }
    h3 {
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 500;
        line-height: 59px;
        text-align: center;
        margin-bottom: 20px;
        @media only screen and (max-width: config.$bp-xsm) {
            font-size: 35px;
        }
    }
    h4 {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: left;
        margin-top: 20px;
        @media only screen and (max-width: config.$bp-xsm) {
            font-size: 20px;
        }
    }
    &__descr {
        color: rgb(255, 255, 255);
        font-size: 23px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        margin-top: 8px;
        @media only screen and (max-width: config.$bp-xsm) {
            font-size: 19px;
        }
    }
    img {
        position: absolute;
        top: 9px;
        left: 862px;
        @media only screen and (max-width: config.$bp-md) {
            display: none;
        }
    }
    &__map {
        width: 794px;
        height: 539px;
        border: 20px solid rgb(0, 0, 0);
        border-radius: 20px;
        margin: 57px auto 0 auto;
        @media only screen and (max-width: config.$bp-tablet) {
            width: 690px;
        }
        @media only screen and (max-width: config.$bp-xsm) {
            width: 340px;
        }
        iframe {
            @media only screen and (max-width: config.$bp-tablet) {
                width: 654px;
            }
            @media only screen and (max-width: config.$bp-xsm) {
                width: 300px;
            }
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            background-image: url(/assets/media/circle-2.png);
            background-repeat: no-repeat;
            width: 201px;
            height: 200px;
            top: 789px;
            left: 250px;
            z-index: -1;
            @media only screen and (max-width: config.$bp-md) {
                top: 750px;
                left: 40px;
            }
            @media only screen and (max-width: config.$bp-tablet) {
                display: none;
            }
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-image: url(/assets/media/circle-1.png);
            background-repeat: no-repeat;
            width: 201px;
            height: 200px;
            top: 1026px;
            left: 1000px;
            z-index: -1;
            @media only screen and (max-width: config.$bp-md) {
                top: 950px;
                left: 800px;
            }
            @media only screen and (max-width: config.$bp-tablet) {
                display: none;
            }
        }
    }
}