extends ../core/ui/layout/templates/default

block title
    | Упражнения по CSS

block workarea
    .container
        h1 Упражнения по CSS
        section.section.s-exercises

            h2 1. Относительные размеры

            .s-exercises__exercise
                p Внутри дива .s-exercises__content создать квадрат, который при уменьшении экрана тоже будет уменьшаться, при этом оставаясь квадратом
                .s-exercises__content

            h2 2. Анимации

            .s-exercises__exercise
                p Сделать анимацию для круга, чтобы он крутился
                .s-exercises__content
                    .s-exercises__circle._theme_pink Я кручусь!





