extends ../core/ui/layout/templates/default

block title
    | Упражнения по JavaScript

block workarea
    .container
        h1 Упражнения по JavaScript
        section.section.s-js
            h2 1. Смена классов

            .s-js__exercise
                p При нажатии на кнопку (#changeColor) класс _theme_pink должен удалиться и установиться класс _theme_blue. После чего к кнопке добавить класс _disabled
                .s-js__circle._change-color._theme_pink
                +button({
                    text: "Сменить цвет",
                    mix: "_theme_blue _size_m"
                })(id="changeColor")

            .s-js__exercise
                p 2.  При нажатии на кнопку (#toggleColor) класс _theme_pink должен переключаться на _theme_blue и при повторном клике обратно
                .s-js__circle._toggle-color._theme_pink
                +button({
                    text: "Переключить цвет",
                    mix: "_theme_blue _size_m"
                })(id="toggleColor")

            h2 3. Удаление элементов

            .s-js__exercise
                p При нажатии на кнопку (#deleteBtn) удалить все круги в этой области
                .s-js__content
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                +button({
                    text: "Удалить круги",
                    mix: "_theme_blue _size_m"
                })(id="deleteBtn")

            h2 4. Работа с атрибутами

            .s-js__exercise
                p При нажатии на кнопку (#addAttr) у всех кружков в этой области должен добавляться атрибут `data-active="true"`.
                p При нажатии на кнопку (#removeAttr) у всех кружков в этой области должен удалиться атрибут `data-active`.
                .s-js__content
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                .s-js__buttons
                    +button({
                        text: "Добавить атрибут",
                        mix: "_theme_blue _size_m"
                    })(id="addAttr")
                    +button({
                        text: "Удалить атрибут",
                        mix: "_theme_pink _size_m"
                    })(id="removeAttr")

            h2 5. Изменение текста

            .s-js__exercise
                p При нажатии на кнопку (#changeText) текст внутри кружка должен измениться на "Я изменён!"
                .s-js__circle._theme_pink Я изменюсь!
                +button({
                    text: "Изменить текст",
                    mix: "_theme_blue _size_m"
                })(id="changeText")

            h2 6. Скрытие элементов

            .s-js__exercise
                p При нажатии на кнопку (#hideCircles) все кружки в этой области должны скрыться (используй `display: none`)
                .s-js__content
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                    .s-js__circle._theme_pink._size_sm
                +button({
                    text: "Скрыть кружки",
                    mix: "_theme_blue _size_m"
                })(id="hideCircles")

            h2 7. Создание/ удаление элементов

            .s-js__exercise
                p При нажатии на кнопку (#createFromInput) создаётся новый круг с текстом, введённым в поле.
                .s-js__content
                    .s-js__circle._theme_pink
                input(type="text" placeholder="Введите текст").s-js__input
                +button({
                    text: "Создать круг с текстом",
                    mix: "_theme_blue _size_m"
                })(id="createFromInput")








