extends ../core/ui/layout/templates/default

block title
    | Ui Kit

block workarea
    include ../core/ui/s-promo/index.pug
    include ../core/ui/s-inform/index.pug
    include ../core/ui/s-subjects/index.pug
    include ../core/ui/s-catalog/index.pug
    include ../core/ui/s-certificates/index.pug
    include ../core/ui/s-reviews/index.pug
    include ../core/ui/s-contacts/index.pug

            
