extends ../core/ui/layout/templates/default

block title
    | Ui Kit

block workarea

    section.section.s-promo 
        .container 
            h1 <span> KEMENGER MEKTEBI </span> - центр <br> интеллектуального развития
            .section.s-promo__descr Обучение происходит на казахском и русском <br> языках. При записи на два или более курсов <br> предусмотрена скидка. Запишитесь на <br> бесплатный пробный урок.
            +button({
                text:"Оставить заявку", 
                mix:"_shadow_yellow"
                })
            img.section.s-promo__main-img(src="/assets/media/child.png", alt="child")
            img.section.s-promo__letter-W(src="/assets/media/letter-W.png", alt="letter-W")
            img.section.s-promo__blue-book(src="/assets/media/blue-book.png", alt="blue-book")
            img.section.s-promo__books(src="/assets/media/books.png", alt="books")
            img.section.s-promo__letter-A(src="/assets/media/letter-A.png", alt="letter-A")
            img.section.s-promo__number-five(src="/assets/media/number-five.png", alt="number-five")
            img.section.s-promo__pen(src="/assets/media/pen.png", alt="pen")

    section.section.s-inform 
        .container 
            .section.s-inform__block
                .section.s-inform__text-wrapper
                    img.section.s-inform__circle-yellow(src="/assets/media/circle-2.png", alt="circle")
                    .section.s-inform__underlay
                    .section.s-inform__descr В нашем центре работают профессиональные педагоги, любящие детей и преданные своему делу. Мы помогаем детям совершенствовать свои интеллекуальные способности, чтобы они могли познавать мир и делать его более красивым и добрым.
                .section.s-inform__pic-wrapper
                    img.section.s-inform__teacher(src="/assets/media/inform-pic-1.jpg", alt="teacher")
                    .section.s-inform__border

            .section.s-inform__block
                .section.s-inform__text-wrapper.section.s-inform__text-wrapper_order
                    img.section.s-inform__circle-blue(src="/assets/media/circle-1.png", alt="circle")
                    .section.s-inform__underlay.section.s-inform__underlay_left
                    .section.s-inform__descr.section.s-inform__descr_left Наши ученики показывают результат уже с первого месяца работы, мы поддерживаем в нашем центре теплую и дружескую атмосферу Побывав у нас детям обязательно захочется вернуться сюда снова Развивайтесь вместе с нами.
                .section.s-inform__pic-wrapper.section.s-inform__pic-wrapper_order
                    img.section.s-inform__kids(src="/assets/media/inform-pic-2.jpg", alt="kids")
                    .section.s-inform__border.section.s-inform__border_left
            
