extends ../core/ui/layout/templates/default

block title
    | Ui Kit

block workarea

    .container

        section.section
            h1 Ui Kit
        section.section
            +cardCatalog({
                header:"подготовка к школе",
                price:"30 000",
                descr:"4-6 лет <br> 3 занятия в неделю по 3 ч.",
                items:["Математика", "Физика"],
                mix:"_theme_green"
            }) 




                //- +button({
                //-     mix: '_size_lg _theme_red',
                //-     text: 'More comments',
                //-     type: 'submit'
                //- })

                //- .button._theme_grey
                //-     span.button__text More comments

