@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

@use '../core/ui/layout';
@use '../core/ui/container';
@use '../core/ui/section';
@use '../core/ui/button';
@use '../core/ui/row-flex';
@use '../core/ui/header';
@use '../core/ui/card-catalog';
@use '../core/ui/s-promo';
@use '../core/ui/s-inform';
@use '../core/ui/s-subjects';
@use '../core/ui/s-catalog';
@use '../core/ui/s-certificates';
@use '../core/ui/s-reviews';
@use '../core/ui/reviews-mixin';
@use '../core/ui/s-contacts';
@use '../core/ui/footer';
@use '../core/ui/modal';
@use '../core/ui/modal-thanks';


@include lib.font('Commissioner', 400, 'Commissioner-Regular');
@include lib.font('Commissioner', 500, 'Commissioner-Medium');
@include lib.font('Commissioner', 600, 'Commissioner-SemiBold');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }
}

html {
  scroll-behavior: smooth;
}
