//- mixins
include ../../button/index
include ../../card-catalog/index
include ../../reviews-mixin/index
include ../../modal/index
include ../../modal-thanks/index

doctype html
html(lang="ru")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="vendors/swiper/swiper-bundle.css")
    link(rel="stylesheet", href="vendors/bootstrap-modal/bootstrap-modal.min.css")
    link(rel="stylesheet", href="css/index.css")

    title
        block title

    body
        .layout
            .layout__header
                include ../../header/templates/default

            .layout__main
                block workarea

            .layout__footer
                block afterWorkarea




        script(src="vendors/jquery/jquery-3.6.0.min.js")
        script(src="vendors/bootstrap-modal/bootstrap-modal.bundle.min.js")
        script(src="vendors/swiper/swiper-bundle.min.js")
        script(src="js/index.js")
