@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
  gap: 20px;
  cursor: pointer;
  transition: .3s ease;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  max-width: max-content;

  @media only screen and (max-width: config.$bp-sm) {
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
  }

   &__text {
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.4px;

     @media only screen and (max-width: config.$bp-sm) {
       font-size: 16px;
       line-height: 19px;
       letter-spacing: 0.04em;
     }
   }
}

.button._theme_red {
  border: 1px solid red;
  background-color: red;
  color: config.$colors-white;

  &:hover {
    background-color: white;
    color: red;
  }
}

.button._theme_grey {
  border: 1px solid gray;
  background-color: darkgrey;
  color: config.$colors-black;

  &:hover {
    border: 1px solid config.$colors-black;
    color: config.$colors-white;
  }
}

.button._not-allowed {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.button._width_full {
  width: 100%;
  max-width: 100%;
}
