.s-promo 
    .container 
        h1 <span> KEMENGER MEKTEBI </span> - центр интеллектуального развития
        .s-promo__descr Обучение происходит на казахском и русском языках. При записи на два или более курсов предусмотрена скидка. Запишитесь на бесплатный пробный урок.
        +button({
            text:"Оставить заявку", 
            mix:"_shadow _theme_yellow _size_m"
        })
        img.s-promo__main-img(src="/assets/media/child.png", alt="child")
        img.s-promo__letter-W(src="/assets/media/letter-W.png", alt="letter-W")
        img.s-promo__blue-book(src="/assets/media/blue-book.png", alt="blue-book")
        img.s-promo__books(src="/assets/media/books.png", alt="books")
        img.s-promo__letter-A(src="/assets/media/letter-A.png", alt="letter-A")
        img.s-promo__number-five(src="/assets/media/number-five.png", alt="number-five")
        img.s-promo__pen(src="/assets/media/pen.png", alt="pen")