@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.s-promo {
    min-height: 749px;
    h1{
      width: 699px;
      height: 118px;
      font-size: 48px;
      font-weight: 600;
      line-height: 59px;
      text-align: left;
      margin-top: 156px;
      span {
        color: rgb(1, 143, 163);
        text-shadow: -38px -28px 1px rgba(1, 143, 163, 0.06);
      }
    }
    &__descr {
      width: 532px;
      height: 116px;
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      text-align: left;
      margin-top: 44px;
    }
    &__main-img {
      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;
    }
    &__letter-W {
      position: absolute;
      z-index: -2;
      top: 67px;
      right: 906px;
    }
    &__blue-book {
      position: absolute;
      z-index: -2;
      top: 160px;
      right: 800px;
    }
    &__books {
      position: absolute;
      z-index: -2;
      top: 270px;
      right: 233px;
    }
    &__letter-A {
      position: absolute;
      z-index: -2;
      top: 770px;
      left: 161px;
    }
    &__number-five {
      position: absolute;
      z-index: -2;
      top: 530px;
      right: 513px;
    }
    &__pen {
      position: absolute;
      z-index: -2;
      top: 590px;
      left: 476px;
    }
  }