@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.footer {
    height: 200px;
    background: rgb(10, 37, 48);
    padding: 56px 0 56px 0;
    @media only screen and (max-width: config.$bp-md) {
        padding: 16px 0 16px 0;
        height: 250px;
    }
    @media only screen and (max-width: config.$bp-xsm) {
        height: 280px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: config.$bp-md) {
            flex-direction: column;
        }
    }
    &__menu {
        display: flex;
        width: 674px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        @media only screen and (max-width: config.$bp-md) {
            width: 570px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: config.$bp-xsm) {
            width: 300px;
            justify-content: center;
        }
    }
    &__list {
        a {
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            text-align: center;
            text-decoration: none;
            @media only screen and (max-width: config.$bp-md) {
                font-size: 19px;
            }
        }
        @media only screen and (max-width: config.$bp-xsm) {
            margin-left: 10px;
        }
    }
    &__second-logo {
        width: 187px;
        height: 51px;
    }
}