footer.footer 
    .container 
        .footer__wrapper 
            img.footer__main-logo(src="/assets/media/main-logo.png", alt="logo")
            ul.footer__menu 
                li.footer__list 
                    a(href="#") О нас
                li.footer__list 
                    a(href="#") Каталог
                li.footer__list 
                    a(href="#") Сертификаты
                li.footer__list 
                    a(href="#") Отзывы
                li.footer__list 
                    a(href="#") Контакты
            img.footer__second-logo(src="/assets/media/ds-studio.png", alt="ds-studio")